<h1>Shops</h1>

<%= link_to "New Shop", new_shop_path, class: "btn btn-success mb-3" %>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @shops.each do |shop| %>
    <div class="col">
      <div class="card h-100">
        <% if shop.image.attached? %>
          <%= image_tag shop.image.variant(resize_to_limit: [300, 200]), class: "card-img-top", alt: shop.name %>
        <% else %>
          <%= image_tag "placeholder.png", class: "card-img-top", alt: "No image" %>
        <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= shop.name %></h5>
          <%= link_to "Show", shop_path(shop), class: "btn btn-primary btn-sm" %>
          <%= link_to "Edit", edit_shop_path(shop), class: "btn btn-secondary btn-sm ms-2" %>
          <%= button_to "Delete", shop_path(shop), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm ms-2" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
