<%= form_with model: @shop, local: true, html: { multipart: true, class: "needs-validation" } do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :image, class: "form-label" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <%= f.submit "Save Shop", class: "btn btn-primary" %>
<% end %>
