<h1> Create User </h1>

<%= form_with model: @user, url: assign_role_path, local: true do |f| %>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :role %><br>
    <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] } %>
  </div>
  <%if current_user.role == "admin"%>
  <div>
    <%= f.submit "Create" %>
  </div>
  <%end%>
<% end %>
